Battlestar/bin/*
Battlestar/bin/*
Battlestar/bin/*
Battlestar/bin/*
Battlestar/bin/*
Battlestar/bin/*
BattlestarInvader/bin/*
EnemyManager/bin/*
Screen/bin/*
Weapons/bin/*
Battlestar/bin/*
BattlestarInvader/bin/*
Screen/bin/*
Weapons/bin/*
Battlestar/bin/Debug/SharpDX.Direct2D1.xml
Battlestar/bin/Debug/SharpDX.Direct3D11.dll
Battlestar/bin/Debug/SharpDX.Direct3D11.xml
Battlestar/bin/Debug/SharpDX.dll
Battlestar/bin/Debug/SharpDX.DXGI.dll
Battlestar/bin/Debug/SharpDX.DXGI.xml
Battlestar/bin/Debug/SharpDX.MediaFoundation.dll
Battlestar/bin/Debug/SharpDX.MediaFoundation.xml
Battlestar/bin/Debug/SharpDX.XAudio2.dll
Battlestar/bin/Debug/SharpDX.XAudio2.xml
Battlestar/bin/Debug/SharpDX.XInput.dll
Battlestar/bin/Debug/SharpDX.XInput.xml
Battlestar/bin/Debug/SharpDX.xml
Battlestar/bin/Debug/Weapons.dll
Battlestar/bin/Debug/Weapons.pdb
Battlestar/bin/Debug/Weapons.pri
BattlestarInvader/bin/Windows8/Debug/AppX/AppxManifest.xml
BattlestarInvader/bin/Windows8/Debug/AppX/Assets/Logo.png
BattlestarInvader/bin/Windows8/Debug/AppX/Assets/SmallLogo.png
BattlestarInvader/bin/Windows8/Debug/AppX/Assets/SplashScreen.png
BattlestarInvader/bin/Windows8/Debug/AppX/Assets/StoreLogo.png
BattlestarInvader/bin/Windows8/Debug/AppX/Battlestar.dll
BattlestarInvader/bin/Windows8/Debug/AppX/Battlestar.pdb
BattlestarInvader/bin/Windows8/Debug/AppX/BattlestarInvader.exe
BattlestarInvader/bin/Windows8/Debug/AppX/BattlestarInvader.pdb
BattlestarInvader/bin/Windows8/Debug/AppX/Common/StandardStyles.xaml
BattlestarInvader/bin/Windows8/Debug/AppX/Content/Fonts/Pericles14.xnb
BattlestarInvader/bin/Windows8/Debug/AppX/Content/Fonts/Pericles8.xnb
BattlestarInvader/bin/Windows8/Debug/AppX/Content/Graphix/battlestar.xnb
BattlestarInvader/bin/Windows8/Debug/AppX/Content/Graphix/star.xnb
BattlestarInvader/bin/Windows8/Debug/AppX/Content/Graphix/turret.xnb
BattlestarInvader/bin/Windows8/Debug/AppX/Content/Graphix/viper.xnb
BattlestarInvader/bin/Windows8/Debug/AppX/EnemyManager.dll
BattlestarInvader/bin/Windows8/Debug/AppX/EnemyManager.pdb
BattlestarInvader/bin/Windows8/Debug/AppX/GamePage.xaml
BattlestarInvader/bin/Windows8/Debug/AppX/microsoft.system.package.metadata/S-1-5-21-3017973248-2730601125-1871870121-1001.pckgdep
BattlestarInvader/bin/Windows8/Debug/AppX/MonoGame.Framework.dll
BattlestarInvader/bin/Windows8/Debug/AppX/resources.pri
BattlestarInvader/bin/Windows8/Debug/AppX/Screen.dll
BattlestarInvader/bin/Windows8/Debug/AppX/Screen.pdb
BattlestarInvader/bin/Windows8/Debug/AppX/SharpDX.Direct2D1.dll
BattlestarInvader/bin/Windows8/Debug/AppX/SharpDX.Direct3D11.dll
BattlestarInvader/bin/Windows8/Debug/AppX/SharpDX.dll
BattlestarInvader/bin/Windows8/Debug/AppX/SharpDX.DXGI.dll
BattlestarInvader/bin/Windows8/Debug/AppX/SharpDX.MediaFoundation.dll
BattlestarInvader/bin/Windows8/Debug/AppX/SharpDX.XAudio2.dll
BattlestarInvader/bin/Windows8/Debug/AppX/SharpDX.XInput.dll
BattlestarInvader/bin/Windows8/Debug/AppX/vs.appxrecipe
BattlestarInvader/bin/Windows8/Debug/AppX/Weapons.dll
BattlestarInvader/bin/Windows8/Debug/AppX/Weapons.pdb
BattlestarInvader/bin/Windows8/Debug/AppxManifest.xml
BattlestarInvader/bin/Windows8/Debug/Battlestar.dll
BattlestarInvader/bin/Windows8/Debug/Battlestar.pdb
BattlestarInvader/bin/Windows8/Debug/Battlestar.pri
BattlestarInvader/bin/Windows8/Debug/BattlestarInvader.build.appxrecipe
BattlestarInvader/bin/Windows8/Debug/BattlestarInvader.exe
BattlestarInvader/bin/Windows8/Debug/BattlestarInvader.pdb
BattlestarInvader/bin/Windows8/Debug/Common/StandardStyles.xaml
BattlestarInvader/bin/Windows8/Debug/EnemyManager.dll
BattlestarInvader/bin/Windows8/Debug/EnemyManager.pdb
BattlestarInvader/bin/Windows8/Debug/EnemyManager.pri
BattlestarInvader/bin/Windows8/Debug/GamePage.xaml
BattlestarInvader/bin/Windows8/Debug/MonoGame.Framework.dll
BattlestarInvader/bin/Windows8/Debug/MonoGame.Framework.xml
BattlestarInvader/bin/Windows8/Debug/resources.pri
BattlestarInvader/bin/Windows8/Debug/Screen.dll
BattlestarInvader/bin/Windows8/Debug/Screen.pdb
BattlestarInvader/bin/Windows8/Debug/Screen.pri
BattlestarInvader/bin/Windows8/Debug/SharpDX.Direct2D1.dll
BattlestarInvader/bin/Windows8/Debug/SharpDX.Direct2D1.xml
BattlestarInvader/bin/Windows8/Debug/SharpDX.Direct3D11.dll
BattlestarInvader/bin/Windows8/Debug/SharpDX.Direct3D11.xml
BattlestarInvader/bin/Windows8/Debug/SharpDX.dll
BattlestarInvader/bin/Windows8/Debug/SharpDX.DXGI.dll
BattlestarInvader/bin/Windows8/Debug/SharpDX.DXGI.xml
BattlestarInvader/bin/Windows8/Debug/SharpDX.MediaFoundation.dll
BattlestarInvader/bin/Windows8/Debug/SharpDX.MediaFoundation.xml
BattlestarInvader/bin/Windows8/Debug/SharpDX.XAudio2.dll
BattlestarInvader/bin/Windows8/Debug/SharpDX.XAudio2.xml
BattlestarInvader/bin/Windows8/Debug/SharpDX.XInput.dll
BattlestarInvader/bin/Windows8/Debug/SharpDX.XInput.xml
BattlestarInvader/bin/Windows8/Debug/SharpDX.xml
BattlestarInvader/bin/Windows8/Debug/Weapons.dll
BattlestarInvader/bin/Windows8/Debug/Weapons.pdb
BattlestarInvader/bin/Windows8/Debug/Weapons.pri
EnemyManager/bin/Debug/EnemyManager.pdb
EnemyManager/bin/Debug/EnemyManager.pri
EnemyManager/bin/Debug/MonoGame.Framework.dll
EnemyManager/bin/Debug/MonoGame.Framework.xml
EnemyManager/bin/Debug/Screen.dll
EnemyManager/bin/Debug/Screen.pdb
EnemyManager/bin/Debug/Screen.pri
EnemyManager/bin/Debug/SharpDX.Direct2D1.dll
EnemyManager/bin/Debug/SharpDX.Direct2D1.xml
EnemyManager/bin/Debug/SharpDX.Direct3D11.dll
EnemyManager/bin/Debug/SharpDX.Direct3D11.xml
EnemyManager/bin/Debug/SharpDX.dll
EnemyManager/bin/Debug/SharpDX.DXGI.dll
EnemyManager/bin/Debug/SharpDX.DXGI.xml
EnemyManager/bin/Debug/SharpDX.MediaFoundation.dll
EnemyManager/bin/Debug/SharpDX.MediaFoundation.xml
EnemyManager/bin/Debug/SharpDX.XAudio2.dll
EnemyManager/bin/Debug/SharpDX.XAudio2.xml
EnemyManager/bin/Debug/SharpDX.XInput.dll
EnemyManager/bin/Debug/SharpDX.XInput.xml
EnemyManager/bin/Debug/SharpDX.xml
Screen/bin/Debug/MonoGame.Framework.xml
Screen/bin/Debug/Screen.dll
Screen/bin/Debug/Screen.pdb
Screen/bin/Debug/Screen.pri
Screen/bin/Debug/SharpDX.Direct2D1.xml
Screen/bin/Debug/SharpDX.Direct3D11.dll
Screen/bin/Debug/SharpDX.Direct3D11.xml
Screen/bin/Debug/SharpDX.dll
Screen/bin/Debug/SharpDX.DXGI.dll
Screen/bin/Debug/SharpDX.DXGI.xml
Screen/bin/Debug/SharpDX.MediaFoundation.dll
Screen/bin/Debug/SharpDX.MediaFoundation.xml
Screen/bin/Debug/SharpDX.XAudio2.dll
Screen/bin/Debug/SharpDX.XAudio2.xml
Screen/bin/Debug/SharpDX.XInput.dll
Screen/bin/Debug/SharpDX.XInput.xml
Screen/bin/Debug/SharpDX.xml
Weapons/bin/Debug/EnemyManager.pdb
Weapons/bin/Debug/EnemyManager.pri
Weapons/bin/Debug/MonoGame.Framework.dll
Weapons/bin/Debug/MonoGame.Framework.xml
Weapons/bin/Debug/Screen.pdb
Weapons/bin/Debug/Screen.pri
Weapons/bin/Debug/SharpDX.Direct2D1.dll
Weapons/bin/Debug/SharpDX.Direct2D1.xml
Weapons/bin/Debug/SharpDX.Direct3D11.dll
Weapons/bin/Debug/SharpDX.Direct3D11.xml
Weapons/bin/Debug/SharpDX.dll
Weapons/bin/Debug/SharpDX.DXGI.dll
Weapons/bin/Debug/SharpDX.DXGI.xml
Weapons/bin/Debug/SharpDX.MediaFoundation.dll
Weapons/bin/Debug/SharpDX.MediaFoundation.xml
Weapons/bin/Debug/SharpDX.XAudio2.dll
Weapons/bin/Debug/SharpDX.XAudio2.xml
Weapons/bin/Debug/SharpDX.XInput.dll
Weapons/bin/Debug/SharpDX.XInput.xml
Weapons/bin/Debug/SharpDX.xml
Weapons/bin/Debug/Weapons.dll
Weapons/bin/Debug/Weapons.pdb
Weapons/bin/Debug/Weapons.pri
