Battlestar/bin/*
Battlestar/bin/*
Battlestar/bin/*
Battlestar/bin/*
Battlestar/bin/*
Battlestar/bin/*
BattlestarInvader/bin/*
EnemyManager/bin/*
Screen/bin/*
Weapons/bin/*
Battlestar/bin/*
BattlestarInvader/bin/*
Screen/bin/*
Weapons/bin/*
